<h1> Customer: <%= @customer.name %> </h1>

<div id='item-list'>
    <% @customer.items.each do |item| %>
        <p> Item: <%= item.name %> - Supermarket: <%= @customer.supermarket.name %> </p>
    <% end %>